@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
html {
    color: #ffffff;
    height: 100%;
    background-image: url("/img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: fadein;
    animation-duration: 1s;
    font-family: roboto;
}
.center {
    border-radius: 5%;
    background-color: #000000a0;
    padding: 20px;
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation-name: fadein;
    animation-duration: 1s;
}
.right {
    float: right;
    text-align: right;
}
.img {
    border-radius: 60%;
    width: 150px;
    height: 150px;
    animation-name: imgpopout;
    animation-duration: 1s;
}
p {
    margin: 0px;
    padding: 0px;
}
div { cursor: default; }
a { color: #04F8E4; }
.center hr {
    width: 50%;
    animation-name: flowout;
    animation-duration: 2s;
}
hr { color: #04F8E4; }
a:hover { text-shadow: 0px 0px 3px; }
@keyframes fadein {
    0% { opacity: 0%; }
    100% { opacity: 100%; }
}
@keyframes flowout {
    0% { width: 0%; }
    100% { width: 50%; }
}
@keyframes imgpopout {
    0% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 150px;
        height: 150px;
    }
}
.social-icons {
    margin-top: 20px;
}

.social-icons a {
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    color: var(--icon-color);
}